@use "colors" as *;


:root{
    --main-border: 1px solid white;
}


body {
    background-color:colors.var(--bg-color);
}


.owl-carousel {
    border: var(--main-border);
    padding: 10px 15px;
}

