@use "../globals" as *;

.owl-carousel .item {
    width: 90%;
    height: 400px;
    img {
        height: 200px;
        width: auto;
    }
     .card {
    height: 100%;
    }
}





.current-country .card {
    padding: 0px 20px;
    width: 70%;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: var(--main-border);
    border-radius: 0;
    img{
        margin-top: 6%;
    }
    
}




.current-news .list-of-news {
        margin-top: 50px;
    
    .card {
        padding: 15px;
        margin: 0 auto;
        background-color: var(--bg-color);
        border: var(--main-border);
        border-radius: 0;
        width: 80%;

        .bgImg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            width: auto;
        }
    }
   

}






